{% extends 'base.html.twig' %}
{% block title %}detail{% endblock %}
{% block body %}
    <div><h1>{{ article_detail.title }}</h1></div>
    <div><h5>{{ article_detail.content }}</h5></div>
{% endblock %}